<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express</title>

    <!-- Styles -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="./css/font-awesome.min.css" media="screen" charset="utf-8">

    <!-- Angular Dependencies -->
    <script src="./js/globalLibs/angular.js"></script>
    <script src="./js/globalLibs/angular-route.js"></script>
    <style media="screen">
      .filter,.input{
        width : 13% !important;
      }
      .select{
        width: 5% !important;
      }
      .createForm{
        width:60% !important;
        margin: auto;
      }
      .disabled{
        color:#ddd;
      }
    </style>
  </head>
  <body ng-app='app'>
    <div ng-controller='LogoutController' style="float:right;">
      <span ng-if="check()">Hi {{username}}</span>
      <input value='Logout' type="button" ng-click="logout()" ng-if="check()" class="btn btn-primary"/>
     </div>
    <ng-view ></ng-view>
    <!-- MODULES -->
    <script src="./js/app/app.routes.js"></script>
    <script src="./js/app/app.js"></script>

    <!-- SERVICES -->
    <script src="./js/services/api.js"></script>


    <!-- CONTROLLERS -->
    <script src="./js/controllers/logoutController.js"></script>
    <script src="./js/controllers/loginController.js"></script>
    <script src="./js/controllers/signupController.js"></script>
    <script src="./js/controllers/createController.js"></script>
    <script src="./js/controllers/tableController.js"></script>

    <!-- DIRECTIVES -->
    <script src="./js/directives/customTableDirective.js"></script>
  </body>
</html>
