<div>
    <h2>{{options.title}}</h2>
    <hr></hr>
    <form class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control filter" ng-model="filterBy">
            <input type="button" value="Add Person" class="btn btn-primary pull-right" ng-click="add()">
        </div>
    </form>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th ng-repeat="header in headers"
                    ng-click="((header.sort === undefined || header.sort) ? false : true) || sort(header.title)">
                    {{header.title}}
                    <span ng-if="header.sort !== undefined ? header.sort : true" 
                        ng-show="options.sortBy !== header.title"
                        class="fa fa-sort disabled">
                    </span>
                    <span ng-if="header.sort !== undefined ? header.sort : true" 
                        ng-show="options.sortBy === header.title && !options.sortReverse"
                        class="fa fa-caret-up">
                    </span>
                    <span ng-if="header.sort !== undefined ? header.sort : true"
                        ng-show="options.sortBy === header.title && options.sortReverse"
                        class="fa fa-caret-down">
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in rows|orderBy:options.sortBy:options.sortReverse|filter: filterBy">
                <td ng-repeat="column in columns">{{row[column]}}</td>
                <td><i class="fa fa-trash-o" ng-click="action({row:row})"></i></td>
            </tr>
        </tbody>
    </table>

</div>